body {
    background-image: url("./Sun-Tornado-5.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    width: 80vw;
    height: 100vh;
}

header, footer {
    color: #D44206;
}

header{
    border-bottom: 1px solid #023D67;
}

footer {
    border-top: 1px solid #023D67;
    text-align: center;
}

section > h2 {
    color: #023D67;
}

article {
    margin-bottom: 50px;
}

section > h4 {
    color: #F97304;
}

article > div {
    display: inline-block;
    width: 48%;
    color: BLACK;
}

aside {
    display: inline-block;
    width: 45%;
    height: 130px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px 2px #03749C;
}

aside > ul {
    padding-left: 10px;
    margin: 0;
    background-color: #023D67;
}

aside > ul > li {
    display: inline-block;
    border: 5px solid tomato;
    border-radius: 50%;
}

aside > ul > li:nth-child(2) {
    border: 5px solid orange;
}

aside > ul > li:nth-child(3) {
    border: 5px solid green;
}

aside > p {
    display: block;
    width: 50%;
    margin: auto;
    line-height: 105px;
}

article:nth-of-type(2) > aside {
    color: rgba(17, 59, 165, 0.666);
}
